/* ALL */
* {
    margin: 0;
    padding: 0;
    --background-blue: #1F2937;
    --background-blue-hover: #3f4f66;
    --background-blue-active: #647894;
    --orange:#F97316;
    --orange-hover: #d36314;
    --orange-active: #b15412;
    --background-gray: #dfdde0;
    --dark-gray: #535353;
    --background-white: white;
    --background-black: black;

    --header: 10vh;
    --sidebar: 14vw;
    --spacing: 1.5em;
    --border-radius: 0.5rem; 
}

#add-btn, #project-btn {
    border-radius: var(--border-radius);
    border: none;
}


/* HEADER */
header {
    display: flex;
    background-color: var(--background-blue);
    height: var(--header);
    flex-direction: space-between;
    align-items: center;
    padding-left: var(--spacing);
}

#heading {
    color: var(--background-white);
    font-size: 3.5rem;
}

#add-btn {
    height: 2rem;
    width: 4rem;
    background-color: var(--orange);
    border-radius: var(--border-radius);
    border: none;
    color: var(--background-white)
}

#add-btn:hover {
    background-color: var(--orange-hover)
}

#add-btn:active {
    background-color: var(--orange-active);
}


/* MAIN */
main {
    display: flex;
    height: calc(100vh - var(--header));
}

#left-container {
    width: var(--sidebar);
    background-color: var(--background-white);
    display: flex;
    justify-content: center;
}

#project-btn {
    background-color: var(--background-blue);
    color: var(--background-white);
    height: 3rem;
    width: 6rem;
}

#project-btn:hover {
    background-color: var(--background-blue-hover)
}

#project-btn:active {
    background-color: var(--background-blue-active)
}

#right-container {
    background-color: var(--background-gray);
    width: calc(100vw - var(--sidebar))
}