/* ALL */
* {
  margin: 0;
  padding: 0;
  --background-blue: #1f2937;
  --background-blue-hover: #3f4f66;
  --background-blue-active: #647894;
  --orange: #f97316;
  --orange-hover: #d36314;
  --orange-active: #b15412;
  --background-gray: #dfdde0;
  --dark-gray: #535353;
  --background-white: white;
  --background-black: black;
  --low-green: green;
  --medium-orange: orange;
  --high-red: red;

  --header: 10vh;
  --sidebar: 14vw;
  --spacing: 1.5em;
  --border-radius: 0.5rem;
}

#add-btn,
#project-btn {
  border-radius: var(--border-radius);
  border: none;
}

/* HEADER */
header {
  display: flex;
  background-color: var(--background-blue);
  height: var(--header);
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing) 0 var(--spacing);
}

#heading {
  color: var(--background-white);
  font-size: 3rem;
}

#add-btn {
  height: 2.5rem;
  width: 7.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--orange);
  border-radius: var(--border-radius);
  border: none;
  color: var(--background-white);
}

#add-btn:hover {
  background-color: var(--orange-hover);
}

#add-btn:active {
  background-color: var(--orange-active);
}

/* MAIN */
main {
  display: flex;
  height: calc(100vh - var(--header));
}

#left-container {
  width: var(--sidebar);
  background-color: var(--background-white);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: var(--spacing);
  border-right: 1px solid var(--background-blue-active);
}

#project-btn {
  background-color: var(--background-blue);
  color: var(--background-white);
  height: 3rem;
  width: 8rem;
  font-weight: bold;
  font-size: 0.9rem;
}

#project-btn:hover,
#project-submit-btn:hover,
#add-submit-btn:hover {
  background-color: var(--background-blue-hover);
}

#project-btn:active,
#project-submit-btn:active,
#add-submit-btn:active {
  background-color: var(--background-blue-active);
}

#project-container {
  height: 85%;
  width: 80%;
  margin-top: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.project {
  color: var(--background-white);
  height: 2rem;
  width: 100%;
  display: flex;
  background-color: var(--background-blue-hover);
  border: 2px solid var(--background-blue);
  border-radius: var(--border-radius);
  align-items: center;
  padding-left: 0.3em;
}

.project:hover {
  background-color: var(--background-blue-active);
}

#right-container {
  background-color: var(--background-gray);
  width: calc(100vw - var(--sidebar));
  display: flex;
  flex-direction: column;
  padding: var(--spacing) var(--spacing) 0 var(--spacing);
}

#tasks-header {
  margin-bottom: 0.3em;
}

#tasks-container {
  /* background-color: orange; */
  display: grid;
  height: 90%;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1em;
}

.todo-container {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.todo-header {
  color: var(--background-blue);
  font-weight: bold;
}

.todo-dueDate {
  color: var(--dark-gray);
  font-weight: lighter;
}

.todo-priority {
  border: 2px;
  border-radius: 1em;
  height: 1em;
  width: fit-content;
  border: 2px solid black;
  padding: 0.2em;
}

.todo-complete-btn {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  height: 2em;
  width: 6em;
  color: var(--background-white);
}

.todo-complete-btn:hover {
  background-color: var(--orange-hover);
}

.todo-complete-btn:active {
  background-color: var(--orange-active);
}

#add-dialog,
#project-dialog {
  top: 15%;
  left: 35%;
  border: none;
  border-radius: var(--border-radius);
  /* padding: var(--spacing); */
  background-color: var(--background-gray);
}

#project-form,
#add-form {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  align-items: center;
}

#add-dialog {
  height: 25rem;
  width: 30rem;
}

#project-dialog {
  height: 12rem;
  width: 30rem;
}

#add-header,
#project-header {
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--background-blue);
}

.form-label {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: var(--background-black);
}

.form-input {
  height: 2em;
  font-size: 100%;
  width: 16em;
}

.form-input:focus {
  outline: none;
  border: 2px solid var(--background-blue);
}

.form-input:invalid {
  border: 2px solid red;
}

#description-input {
  height: 8em;
}

#add-submit-btn,
#project-submit-btn {
  background-color: var(--background-blue);
  border: none;
  color: var(--background-white);
  border-radius: var(--border-radius);
  height: 3em;
  width: 10em;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1rem;
}
